@font-face {
    font-family: "Bahnschrift";
    src: url("/static/bahnschrift.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}



html {
    font-size: 150%;
    overflow: scroll;
    margin:  0px;
    padding: 0px;
}

body {
    font-size: 1rem;
    background: #171717;
    font-family: "Bahnschrift", sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

form div {
    margin: 15px;
}

img {
    width: 100px;
}

#super_main {
    display: flex; 
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    margin: auto;
}

#header {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-left: 25px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#name_span {
    margin-left: 15px;
}

#form_main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

form {
    background: #262626;
    border-radius: 25px;
    margin: 25px;
    padding: 10px;
}

input {
    background: #2e2e2e;
    
}

input:hover {
    border: none;
    background: #363636;
}

input:active {
    border: none;
    background: #3d3d3d;
}

input {
    font-family: "Bahnschrift", sans-serif;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #2e2e2e;
    cursor: pointer; 
    padding: 5px;
}


input[type="submit"] {
    font-size: 1.15rem;
}

.big_text {
    font-size: 1.2rem;
}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

#register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.default_flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: start;
}

.flex_item {
    flex-grow: 1;
    margin-left: 5px;
}

.super_big_text {
    font-size: 1.25rem;
}